
p {
    color: rgb(7, 155, 86);text-align: justify;font-size: 30px;font-style: italic;
}
h1 {
    color: rgb(219, 119, 197);text-align: center; font-size: 40px;
}
#texto 1{
    color: rgb(19,19,154)
}
#texto 2{
    color: rgb(34,139,34)
}